<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :channel %><br />
    <%= f.text_field :channel %>
  </div>
  <div class="field">
    <%= f.label :fb_uid %><br />
    <%= f.text_field :fb_uid %>
  </div>
  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :purpose %><br />
    <%= f.text_field :purpose %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :profile_image1 %><br />
    <%= f.text_field :profile_image1 %>
  </div>
  <div class="field">
    <%= f.label :profile_image2 %><br />
    <%= f.text_field :profile_image2 %>
  </div>
  <div class="field">
    <%= f.label :profile_image3 %><br />
    <%= f.text_field :profile_image3 %>
  </div>
  <div class="field">
    <%= f.label :profile %><br />
    <%= f.text_field :profile %>
  </div>
  <div class="field">
    <%= f.label :tall %><br />
    <%= f.text_field :tall %>
  </div>
  <div class="field">
    <%= f.label :blood %><br />
    <%= f.text_field :blood %>
  </div>
  <div class="field">
    <%= f.label :style %><br />
    <%= f.text_field :style %>
  </div>
  <div class="field">
    <%= f.label :holiday %><br />
    <%= f.text_field :holiday %>
  </div>
  <div class="field">
    <%= f.label :alcohol %><br />
    <%= f.text_field :alcohol %>
  </div>
  <div class="field">
    <%= f.label :cigarette %><br />
    <%= f.text_field :cigarette %>
  </div>
  <div class="field">
    <%= f.label :salary %><br />
    <%= f.text_field :salary %>
  </div>
  <div class="field">
    <%= f.label :point %><br />
    <%= f.text_field :point %>
  </div>
  <div class="field">
    <%= f.label :last_logined %><br />
    <%= f.text_field :last_logined %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
