<p id="notice"><%= notice %></p>

<p>
  <b>channel:</b>
  <%= @list.channel %>
</p>

<p>
  <b>fb_uid:</b>
  <%= @list.fb_uid %>
</p>

<p>
  <b>fb_name:</b>
  <%= @list.fb_name %>
</p>

<p>
  <b>nickname:</b>
  <%= @list.nickname %>
</p>

<p>
  <b>email:</b>
  <%= @list.email %>
</p>

<p>
  <b>age:</b>
  <%= @list.age %>
</p>

<p>
  <b>purpose:</b>
  <%= @list.purpose %>
</p>

<p>
  <b>area:</b>
  <%= @list.area %>
</p>

<p>
  <b>profile_image1:</b>
  <%= @list.profile_image1 %>
</p>

<p>
  <b>profile_image2:</b>
  <%= @list.profile_image2 %>
</p>

<p>
  <b>profile_image3:</b>
  <%= @list.profile_image3 %>
</p>

<p>
  <b>profile:</b>
  <%= @list.profile %>
</p>

<p>
  <b>tall:</b>
  <%= @list.tall %>
</p>

<p>
  <b>blood:</b>
  <%= @list.blood %>
</p>

<p>
  <b>style:</b>
  <%= @list.style %>
</p>

<p>
  <b>holiday:</b>
  <%= @list.holiday %>
</p>

<p>
  <b>alcohol:</b>
  <%= @list.alcohol %>
</p>

<p>
  <b>cigarette:</b>
  <%= @list.cigarette %>
</p>

<p>
  <b>salary:</b>
  <%= @list.salary %>
</p>

<p>
  <b>point:</b>
  <%= @list.point %>
</p>

<p>
  <b>last_logined:</b>
  <%= @list.last_logined %>
</p>

<p>
  <b>created_at:</b>
  <%= @list.created_at %>
</p>

<p>
  <b>updated_at:</b>
  <%= @list.updated_at %>
</p>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
