<h1>Listing messages</h1>

<table>
  <tr>
    <th>Send from</th>
    <th>Send to</th>
    <th>Room</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.send_from %></td>
    <td><%= message.send_to %></td>
    <td><%= message.room %></td>
    <td><%= truncate(message.body, { :length => 30 }) %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
