<p id="notice"><%= notice %></p>

<p>
  <b>Send from:</b>
  <%= @message.sendfrom.nickname %>
</p>

<p>
  <b>Send to:</b>
  <%= @message.sendto.nickname %>
</p>

<p>
  <b>Room:</b>
  <%= @message.room_id %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
