<p id="notice"><%= notice %></p>

<p>
  <b>Visitor:</b>
  <%= @visit.visitor.nickname %>
</p>

<p>
  <b>Visit at:</b>
  <%= @visit.visitat.nickname %>
</p>


<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
