<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @ca_reward.id %>
</p>

<p>
  <b>List:</b>
  <%= @ca_reward.list_id %>
</p>

<p>
  <b>Cid:</b>
  <%= @ca_reward.cid %>
</p>

<p>
  <b>Cname:</b>
  <%= @ca_reward.cname %>
</p>

<p>
  <b>Carrier:</b>
  <%= @ca_reward.carrier %>
</p>

<p>
  <b>Click date:</b>
  <%= @ca_reward.click_date %>
</p>

<p>
  <b>Action date:</b>
  <%= @ca_reward.action_date %>
</p>

<p>
  <b>Commission:</b>
  <%= @ca_reward.commission %>
</p>

<p>
  <b>Aff:</b>
  <%= @ca_reward.aff_id %>
</p>

<p>
  <b>Point:</b>
  <%= @ca_reward.point %>
</p>


<%= link_to 'Edit', edit_ca_reward_path(@ca_reward) %> |
<%= link_to 'Back', ca_rewards_path %>
