<%= form_for(@ios_transaction) do |f| %>
  <% if @ios_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ios_transaction.errors.count, "error") %> prohibited this ios_transaction from being saved:</h2>

      <ul>
      <% @ios_transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :transaction_id %><br />
    <%= f.text_field :transaction_id %>
  </div>
  <div class="field">
    <%= f.label :purchase_date %><br />
    <%= f.datetime_select :purchase_date %>
  </div>
  <div class="field">
    <%= f.label :bvrs %><br />
    <%= f.text_field :bvrs %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
