<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </div>
  <div class="field">
    <%= f.label :male_id %><br />
    <%= f.number_field :male_id %>
  </div>
  <div class="field">
    <%= f.label :female_id %><br />
    <%= f.number_field :female_id %>
  </div>
  <div class="field">
    <%= f.label :male_last_message %><br />
    <%= f.number_field :male_last_message %>
  </div>
  <div class="field">
    <%= f.label :female_last_message %><br />
    <%= f.number_field :female_last_message %>
  </div>
  <div class="field">
    <%= f.label :message_number %><br />
    <%= f.number_field :message_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
