<h1>Listing rooms</h1>

<table>
  <tr>
  	<th>ID</th>
    <th>公開</th>
    <th>男性ID</th>
    <th>女性ID</th>
    <th>男性ラストメッセージ</th>
    <th>女性ラストメッセージ</th>
    <th>メッセージ数</th>
    <th>更新日時</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
  	<td><%= room.id %></td>
    <td><%= room.public %></td>
    <td><%= room.male_id %></td>
    <td><%= room.female_id %></td>
    <td><%= room.male_last_message %></td>
    <td><%= room.female_last_message %></td>
    <td><%= room.message_number %></td>
    <td><%= room.updated_at %></td>
    <td><%= link_to 'Show', room %></td>
    <td><%= link_to 'Edit', edit_room_path(room) %></td>
    <td><%= link_to 'Destroy', room, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Room', new_room_path %>
